<!-- Clients -->
{% if site.data.sitetext.clients.enable %}
<section class="py-5" id="clients">
    <div class="container">
        <div class="row">
            {% for client in site.data.sitetext.clients.logos %}
            <div class="col-md-3 col-sm-6">
                <a href="{{ client.url }}" target="_blank" rel="noopener">
                    <img class="img-fluid d-block mx-auto" src="{{ client.image }}" alt="{{ client.title }}">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}