///
/// Outliers Analytics — Header
/// Navy background with teal accent on hover.
///

/* Header */

#header {
	@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out');
	background-color: transparentize(#001D63, 0.05);
	height: 3.5em;
	left: 0;
	line-height: 3.5em;
	padding: 0 1.25em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: _misc(z-index-base);

	h1 {
		@include vendor('transition', ('opacity #{_duration(transition)} ease-in-out',
				'visibility #{_duration(transition)}'
			));
		border-bottom: 0;
		font-size: 0.8em;
		margin-bottom: 0;
		opacity: 1;
		visibility: visible;

		a {
			border: 0;
			color: #ffffff;
		}
	}

	nav {
		font-family: _font(family-heading);
		font-size: 0.8em;
		font-weight: _font(weight-bold);
		height: 3em;
		letter-spacing: 0.02em;
		line-height: 3em;
		position: absolute;
		right: 0.7em;
		text-transform: none;
		top: 0.7em;

		a {
			border: 0;
			display: inline-block;
			padding: 0 1em;

			&:before {
				float: right;
				margin-left: 0.75em;
			}

			&[href="#menu"] {
				@include icon(false, solid);
				@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out');
				border-radius: _size(border-radius);
				box-shadow: inset 0 0 0 2px _palette(accent);
				padding: 0 1.35em;

				&:before {
					content: '\f0c9';
					line-height: inherit;
					color: _palette(accent);
				}

				&:hover {
					background-color: rgba(47, 199, 204, 0.1);
				}

				&:active {
					background-color: rgba(47, 199, 204, 0.2);
				}
			}
		}
	}

	&.alt {
		background-color: transparent;

		h1 {
			opacity: 0;
			visibility: hidden;
		}
	}

	@include breakpoint('<=small') {
		height: 2.75em;
		line-height: 2.75em;

		nav {
			top: 0;
			right: 0;
			height: inherit;
			line-height: inherit;

			a {
				height: inherit;
				line-height: inherit;

				&[href="#menu"] {
					box-shadow: none;
					padding: 0 1em;
					border-radius: 0;

					&:hover,
					&:active {
						background-color: inherit;
					}
				}
			}
		}
	}

	@include breakpoint('<=xsmall') {
		nav {
			a {
				&[href="#menu"] {
					width: 4em;
					white-space: nowrap;
					text-indent: 4em;
					position: relative;

					&:before {
						width: inherit;
						position: absolute;
						top: 0;
						left: 0;
						text-indent: 0;
						text-align: right;
						margin-left: 0;
						padding-right: 1.25em;
					}
				}
			}
		}
	}
}